<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="static/css/main.css" rel="stylesheet" >
  <title>FLack</title>
</head>
<body class="bootstrap-overrides">
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <nav class="navbar navbar-dark bg-dark" style="color:white; align:center;">
          <h4>FLackk</h4>
        </nav>
        <!-- left pane -->
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4 align="center">Welcome user!</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="col">
              <div class="row-3">
                <br>
                <h2 style="margin:9px; display:inline-block;"> # </h2>
                <input type="text" name="channelname" placeholder="New channel name" value="" style="display:inline-block; size:10px;">
                <br>
                <button type="button" name="addchannel" class="btn btn-primary" disabled style="margin-left:10">Add channel</button>
              </div>
              <div class="row-3">
            <h4>Public channels</h4>
              <!-- display available channels -->
            <h4>Online users</h4>
              <!-- display online users -->
              </div>
              </div>
          </div>
        </div>

        <!-- right pane -->
        <div class="mesgs">
          <div class="msg_history">
            <div class="type_msg">
              <footer class="page-footer font-small special-color-dark pt-4">


                <div class="input_msg_write">
                  <input type="text" class="write_msg" placeholder="Type a message" />
                  <button name="send" class="btn btn-dark">Send</button>

                </div>
              </footer>
            </div>
          </div>
        </div>


      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>
</html>
